@import '../Variables/_Breakpoints.scss';


.company-details {
    max-width: 2560px;
    width: 65%;
    margin: auto;

    @include breakpoint(laptop) {
        width: 85%;
    }

    .company-details__company-detail {
        margin-bottom: 30px;
        padding-top: 40px;
        padding-bottom: 40px;


        @include breakpoint(phablet) {
            padding-left: 0px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        @include breakpoint(mobile) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
