.container-spacebackground {
    height: 450px;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    .spacebackground {
        height: 450px;
        width: 300%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translate3d(0, 0, 0);
        animation: moveSlideshow 12s linear infinite;

        .particles {
            position: absolute;
            width: 300vw;
            height: 450px;
            z-index: -1;
        }

        .slide {
            float: left;
            position: relative;
            height: 450px;
            width: 33.33%;
            color: white;
            font-size: 100pt;
        }
    }
}
@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}