.container-spacebackground {
    height: 450px;
    position: relative;
    /*max-width: 1000px;*/
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    .spacebackground {
        position: absolute;
        height: 200px;
        /*width: 2526px;*/
        width: 200%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translate3d(0, 0, 0);
        animation: moveSlideshow 80s linear infinite;
    }
}
@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}