@{
    ViewData["Title"] = "Home Page";
}
@using React.AspNet
@*@Html.React("ParticlesServer", new
    {

    })*@
<script type="text/javascript" src="~/bundles/HomeBundle.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<link href="~/bundles/HomeBundle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<div id="navigationMount">

</div>
<div id="rocketMount">

</div>
<main class="company-details">
    <div id="spaceMount">

    </div>
    <section id="aboutUsMount" class="company-details__company-detail"></section>
    <section id="productsMount" class="company-details__company-detail"></section>
</main>



