@{
    ViewData["Title"] = "Home Page";
}
@using React.AspNet
@*@Html.React("ParticlesServer", new
    {

    })*@
<script type="text/javascript" src="~/scripts/js/Home.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<link href="~/scripts/js/Home.css" rel="stylesheet" />

<main>

    <div id="particleMount" style="background-color: #17182f;">

    </div>
</main>



