@import '../../../Stylesheets/Variables/_Breakpoints.scss';

.container-company-motto {
    padding: 25px 70px 25px 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 140px); /*140px is left padding + right padding*/
    @include breakpoint(phablet) {
        top: 43%;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    p {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
    }

    .company-motto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;

        p {
            color: white;
            font-weight: 100;
            font-size: 20pt;
            margin-top: 3px;
            font-family: 'Roboto Condensed', sans-serif;
        }

        .container-icon {
            margin-left: 10px;

            * {
                color: #D6353B;
            }
        }
    }

    .company-name {
        p {
            color: white;
            font-weight: 600;
            font-size: 40pt;
            font-family: 'Roboto', sans-serif;
        }
    }
}

